{% extends 'base.html' %}

{% block title %}
  Farms
{% endblock %}

{% block main %}
  <table>
    <tr>
      <th>ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Altitude</th>
      <th>Village</th>
      <th>Soil type</th>
      <th>Vegetation type</th>
      <th>Agroecology</th>
      <th>Rainfall pattern</th>
      <th>Water source</th>
      <th>Coop type</th>
      <th>Previous illness occurence</th>
      <th>Chicken feed</th>
      <th>Other animals</th>
    </tr>
    {% for farm in object_list %}
      <tr>
        <td>
          <a href="{{ farm.get_absolute_url }}">{{ farm.pk }}</a>
        </td>
        <td>
          {{ farm.latitude }}
        </td>
        <td>
          {{ farm.longitude }}
        </td>
        <td>
          {{ farm.altitude }}
        </td>
        <td>
          {{ farm.village }}
        </td>
        <td>
          {{ farm.soil_type }}
        </td>
        <td>
          {{ farm.vegetation_type }}
        </td>
        <td>
          {{ farm.agroecology }}
        </td>
        <td>
          {{ farm.rainfall_pattern }}
        </td>
        <td>
          {{ farm.water_source }}
        </td>
        <td>
          {{ farm.coop_type }}
        </td>
        <td>
          {{ farm.previous_illness_occurence }}
        </td>
        <td>
          {{ farm.chicken_feed }}
        </td>
        <td>
          {{ farm.other_animals }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
