{% extends 'base.html' %}
{% load django_tables2 crispy_forms_tags %}

{% block title %}
{{ block.super }} - Samples for {{ species.common_name }}
{% endblock %}

{% block main %}
  <div class="well well-sm">
    <h3 class="text-center">Samples for {{ species }}</h3>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <figure>
        <a href="{{ request.path }}">
          <img class="img-responsive" src="{{ species.image.file_url }}" alt="{{ species.common_name }}">
        </a>
        <caption><small>{{ species.image.attribution|safe }}</small></caption>
      </figure>
      <div class="well well-sm">NCBI taxonomy: {{ species.ncbi_taxonomy_html }}</div>
      {% if filter %}
        <form action="" method="get">
          {{ filter.form|crispy }}
          <div>
            <button type="submit" role="button" class="btn btn-primary">Search</button>
            <button type="reset" role="button" class="btn btn-warning">Reset</button>
          </div>
        </form>
      {% endif %}
    </div>
    <div class="col-lg-9">
      {% render_table table 'django_tables2/bootstrap.html' %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>
{% endblock %}
