{% extends 'base.html' %}

{% block main %}
  <table>
    <tr>
      <th>date</th>
      <th>site</th>
      <th>geolocation</th>
      <th>longitude</th>
      <th>latitude</th>
      <th>altitude</th>
      <th>locality</th>
      <th>population</th>
      <th>administrative area</th>
    </tr>
    {% for sampling in samplings %}
    <tr>
      <td>{{ sampling.date }}</td>
      <td>{{ sampling.site }}</td>
      <td>{{ sampling.geolocation }}</td>
      <td>{{ sampling.longitude }}</td>
      <td>{{ sampling.latitude }}</td>
      <td>{{ sampling.altitude }}</td>
      <td>{{ sampling.locality }}</td>
      <td>{{ sampling.population }}</td>
      <td>{{ sampling.administrative_area }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
