{% extends 'base.html' %}
{% load django_tables2 crispy_forms_tags %}
{% block main %}
  <div class="row">
    <div class="col-lg-3">
      {% if filter %}
        <form action="" method="get" class="form form-inline">
          {{ filter.form|crispy }}
          <button type="submit" role="button" class="btn btn-primary">Search</button>
          <a href="{% url 'sampling-list' %}" role="button" class="btn btn-warning">Clear</a>
        </form>
      {% endif %}
    </div>
    <div class="col-lg-9">
      {% render_table table 'django_tables2/bootstrap.html' %}
    </div>
  </div>
{% endblock %}
