{% extends 'base.html' %}

{% block title %}
  Farm {{ object.pk }}
{% endblock %}

{% block main %}
  <h2>Farm {{ object.pk }}</h2>
  <p>Latitude: {{ object.latitude }}</p>
  <p>Longitude: {{ object.longitude }}</p>
  <p>Altitude: {{ object.altitude }}</p>
  <p>Geolocation: {{ object.geolocation }}</p>
  <p>Village: {{ object.village }}</p>
  <p>Soil type: {{ object.soil_type }}</p>
  <p>Vegetation type: {{ object.vegetation_type }}</p>
  <p>Agroecology: {{ object.agroecology }}</p>
  <p>Rainfall pattern: {{ object.rainfall_pattern }}</p>
  <p>Water source: {{ object.water_source }}</p>
  <p>Coop type: {{ object.coop_type }}</p>
  <p>Previous illness occurence: {{ object.previous_illness_occurence }}</p>
  <p>Chicken feed: {{ object.chicken_feed }}</p>
  <p>Other animals: {{ object.other_animals }}</p>
{% endblock %}
